<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>quotations</key>
		<array>
			<dict>
				<key>percent</key>
				<string>+27.02%</string>
				<key>percentColor</key>
				<string>green</string>
				<key>amount</key>
				<string>¥10.5727</string>
				<key>amountColor</key>
				<string>green</string>
				<key>title</key>
				<string>GRS</string>
				<key>detailTitle</key>
				<string>Groestlcoin</string>
			</dict>
            <dict>
                <key>percent</key>
                <string>+24.85%</string>
                <key>percentColor</key>
                <string>green</string>
                <key>amount</key>
                <string>¥0.00221440</string>
                <key>amountColor</key>
                <string>green</string>
                <key>title</key>
                <string>KIN</string>
                <key>detailTitle</key>
                <string>Kin</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>+21.01%</string>
                <key>percentColor</key>
                <string>green</string>
                <key>amount</key>
                <string>¥4.4017</string>
                <key>amountColor</key>
                <string>green</string>
                <key>title</key>
                <string>IXT</string>
                <key>detailTitle</key>
                <string>iXledger</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>+92.89%</string>
                <key>percentColor</key>
                <string>green</string>
                <key>amount</key>
                <string>¥5.5090</string>
                <key>amountColor</key>
                <string>green</string>
                <key>title</key>
                <string>B2B</string>
                <key>detailTitle</key>
                <string>B2BX</string>
            </dict>
		</array>
		<key>name</key>
		<string>涨幅榜</string>
	</dict>
    <dict>
        <key>quotations</key>
        <array>
            <dict>
                <key>percent</key>
                <string>-27.02%</string>
                <key>percentColor</key>
                <string>red</string>
                <key>amount</key>
                <string>¥10.5727</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>GRS</string>
                <key>detailTitle</key>
                <string>Groestlcoin</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>-24.85%</string>
                <key>percentColor</key>
                <string>red</string>
                <key>amount</key>
                <string>¥0.00221440</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>KIN</string>
                <key>detailTitle</key>
                <string>Kin</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>-21.01%</string>
                <key>percentColor</key>
                <string>red</string>
                <key>amount</key>
                <string>¥4.4017</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>IXT</string>
                <key>detailTitle</key>
                <string>iXledger</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>-92.89%</string>
                <key>percentColor</key>
                <string>red</string>
                <key>amount</key>
                <string>¥5.5090</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>B2B</string>
                <key>detailTitle</key>
                <string>B2BX</string>
            </dict>
        </array>
        <key>name</key>
        <string>跌幅榜</string>
    </dict>
    <dict>
        <key>quotations</key>
        <array>
            <dict>
                <key>percent</key>
                <string>¥406.01亿</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥53437.86</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>BTC</string>
                <key>detailTitle</key>
                <string>比特币</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>¥224.35亿</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥6.3326</string>
                <key>amountColor</key>
                <string>green</string>
                <key>title</key>
                <string>USDT</string>
                <key>detailTitle</key>
                <string>泰达币</string>
            </dict>
        </array>
        <key>name</key>
        <string>成交额榜</string>
    </dict>
    <dict>
        <key>quotations</key>
        <array>
            <dict>
                <key>percent</key>
                <string>740.46%</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥0.854600</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>WKT</string>
                <key>detailTitle</key>
                <string>威客币</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>21109.29%</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥0.00798300</string>
                <key>amountColor</key>
                <string>black</string>
                <key>title</key>
                <string>CNC</string>
                <key>detailTitle</key>
                <string>中国币</string>
            </dict>
        </array>
        <key>name</key>
        <string>换手率榜</string>
    </dict>
    <dict>
        <key>quotations</key>
        <array>
            <dict>
                <key>percent</key>
                <string>¥406.01亿</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥53437.86</string>
                <key>amountColor</key>
                <string>red</string>
                <key>title</key>
                <string>BTC</string>
                <key>detailTitle</key>
                <string>比特币</string>
            </dict>
            <dict>
                <key>percent</key>
                <string>¥224.35亿</string>
                <key>percentColor</key>
                <string>black</string>
                <key>amount</key>
                <string>¥6.3326</string>
                <key>amountColor</key>
                <string>green</string>
                <key>title</key>
                <string>USDT</string>
                <key>detailTitle</key>
                <string>泰达币</string>
            </dict>
        </array>
        <key>name</key>
        <string>市值榜</string>
    </dict>
</array>
</plist>
